body,
html {
  font-family: "Roboto Mono", monospace;
  height: 100%;
  width: 100%;
}
button {
  color: white;
  background-color: #483d8b;
  background-image: url(./icons8-save-32.png);
  background-repeat: no-repeat;
  background-position: center;
  padding: 5px 10px 5px 10px;
  margin-top: 0.5em;
  border-radius: 8px;
  height: 3em;
  width: 3em;
}
button:hover {
  background: #9370db;
  background-image: url(./icons8-save-32.png);
  background-repeat: no-repeat;
  background-position: center;
}

.event-td {
  width: 100%;
}
textarea {
  width: 100%;
  height: 100%;
  border: none;
  resize: none;
  background-color: inherit;
}

#mainCol {
  display: flex;
}
